{% extends 'base.jinja2' %}

{% block content %}
  <header class="w3-container w3-brown">
    <h2>{{ page_title|capitalize }}</h2>
  </header>

  <div class="w3-container w3-panel w3-white">
    <p>
      <form method="POST">
        <p>
          <label>Calorie value</label>
          <input class="w3-input" type="textbox" name="new_calories" value="{{ record.calories }}"/>
        </p>
        <p>
          <label>Notes</label>
          <textarea rows=6 class="w3-input" name="new_notes" value="{{ record.notes }}">{{ record.notes }}</textarea>
        </p>
        <p>
          <button style="width: 100%" class="w3-button w3-blue"><i class="fa fa-fw fa-save"></i> Save</button>
        </p>
      </form>
    </p>

    <p>
      <a style="width: 100%" class="w3-button w3-red" href="/delete/{{ record.id }}"><i class="fa fa-fw fa-trash"></i> Delete record</a>
    </p>

    <p>
      <a style="width: 100%" class="w3-button w3-blue" href={{ url_for('index') }}><i class="fa fa-fw fa-arrow-left"></i> Index</a>
    </p>

  </div>

{% endblock %}
