{% extends 'base.jinja2' %}

{% block content %}
  <header class="w3-container w3-brown">
    <h2>{{ page_title|capitalize }}</h2>
  </header>

  <div class="w3-container w3-panel w3-white">
    <p>
      <div class="w3-container w3-dark-gray w3-margin-bottom">
        <h3>
          Total calories: {{ records_hours_sum }}
        </h3>
      </div>


      <table class="w3-table-all">
        {% for record in records_hours %}
          <tr>
            <td>{{ nice_time(record.e) }}</td>
            <td class="w3-right-align"><strong>{{ record.calories }}</strong> kcal</td>
          </tr>
        {% endfor %}
        </table>

      <h3>Add new</h3>
      <p>
        {% for c in range(50,950,50) %}
          <a style="line-height: 1; margin-bottom: 5px;" class="w3-button w3-deep-orange" href="/add/{{ c }}">{{ c }}</a>
        {% endfor %}
      </p>
  </div>

{% endblock %}
